@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	background: #000;
}
.container-main{
	width: 90%;
	margin: auto;
}
.ative-nav{
	color: #AEFB2A !important;
}
.primary-bg{
	background: #aefb2a;
}
.primary-color{
	color: #aefb2a;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  height: auto;
}
p, button, a, input, span, li {
	font-size: 16px;
}
/* header  */
.contact-btn-nav{
	padding: 9px 25px !important;
	border-radius: 25px;
	color: #000;
	font-weight: 500;
}
.contact-btn-nav:hover{
	color: #000;
}
.logo-navbar{
	width: 250px;
}
header{
	padding: 35px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-item{
	padding: 0px 25px;
}
.nav-item a{
	color: #fff;
}
.nav-item a:hover{
	text-decoration: none;
}
.nav-items ul{
	display: flex;
	align-items: center;
}
/* footer  */
footer{
	background: #fff;
	padding: 35px 0px;
	margin-top: 35px;
}
.footer-logo{
	width: 200px;
	margin-bottom: 5px;
}
.footer-under-logo-txt{
	font-size: 15px;
	font-weight: 600;
}
.footer-icon-box i{
	color: #000000;
	font-size: 25px;
	margin: 0px 15px 0px 0px;
}
.footer-icon-box{
	margin: 20px 0px;
}
.box-form-footer{
	background: #000;
	padding: 20px;
}
.footer-box-inner ul li .footer-txt{
	font-weight: 600;
}
.footer-box-inner ul li{
	margin-bottom: 8px;
}
.get-in-touch-txt{
	padding-bottom: 10px;
}
.sub-get-txt{
	font-size: 14px;
	padding-bottom: 20px;
}
.box-form-footer .form-control{
	background: #000 !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}
.box-form-footer .form-control::placeholder{
	font-size: 14px;
}
.border-line{
	border: 1px solid #c4c0c0;
}
.copy-dv{
	padding-top: 15px;
}





















/* fade in animation  */
.fade-in-element {
  opacity: 0;
  transform: translateY(40px); /* Start with a slight vertical offset */
  transition: opacity 0.9s ease, transform 0.9s ease;
}
            













































































