.vedio-main-bg{
	padding: 400px 0px 400px 0px;
	position: relative;
}
.explore-txt{
	position: absolute;
	bottom: 90px;
	left: 0;
	right: 0;
	margin: auto;
}
.arrow-img{
	width: 40px;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
}
.arrow-img {
	align-self: flex-end;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
}
.arrow-img {
	animation-name: arrow-img;
	animation-timing-function: linear;
}
@keyframes arrow-img {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}
.detail-txt-main-dv{
	margin: 30px 0px 20px 0px;
}
.txt-detail-home{
	width: 85%;
	margin: auto;
}
.button-dv-home{
	margin: 40px auto;
	width: max-content;
}
.career-btn-nav{
	padding: 9px 35px !important;
	border-radius: 25px;
	border: 2px solid #aefb2a;
	font-weight: 500;
	color: #AEFB2A;
	margin: 0px 20px;
}
.career-btn-nav:hover{
	color: #AEFB2A;
}
.expertise-txt{
	font-weight: 700;
}
.expertise-txt span{
	font-size: unset;
}
.border-exp{
	border-bottom: 6px solid #bf0fff;
	width: 200px;
	margin: -15px;
}
.txt-expertise{
	padding: 20px 0px 80px 0px;
}
.career-dv{
	border: 2px solid #fff;
	border-radius: 24px;
	position: relative;
	margin-bottom: 90px;
}
.career-img{
	width: 200px;
	margin: auto;
	display: table;
	margin-top: -90px;
}
.career-job-name{
	font-weight: 400;
	padding: 5px 0px 20px 0px;
}
.learn-more-txt{
	display: flex;
	padding: 8px 20px 8px 20px;
	width: max-content;
	align-items: center;
	border-radius: 20px 0px 20px 0px;
}
.learn-more-txt i{
	margin-left: 10px;
	font-size: 25px;
}
.learn-more-dv{
	display: table;
	margin-left: auto;
}
.learn-more-txt:hover{
	color: #000 !important;
	text-decoration: none !important;
}
.client-main-bg{
	padding: 160px 0px;
	position: relative !important;
}
.client-main-txt {
	
}
.btn-portfolio{
	display: flex;
	align-items: center;
	padding: 6px 20px !important;
	border-radius: 23px !important;
	width: max-content;
	color: #000;
	margin: 30px 0px 0px 0px;
}
.btn-portfolio i{
	margin-left: 5px;
	font-size: 25px;
}
.btn-portfolio:hover{
	color: #000;
	text-decoration: none;
}
.project-tile-main{
	width: 100%;
	position: absolute;
	top: -115px;
	display: flex;
	flex-wrap: wrap;
}
.tile-project{
	width: 25%;
	height: 180px;
	position: relative;
}
.project-name-tile{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #00000070;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
}
.product-awards-counts-dv{
	margin: 160px 0px 40px 0px;
}
.count-sub-txt{
	width: 80%;
	margin: auto;
}
.counts-dv{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.count-number{
	color: #AEFB2A;
}
.box-count{
	padding: 0px 30px;
}
.center-number{
	font-size: 70px;
}
.left-count-box{
	padding-top: 20px;
	font-size: 51px;
}
.own-txt{
	font-weight: 600;
}
.product-sub-txt-explore{
	padding: 10px 0px 10px 0px;
}
.slider-main-projects .item{
	margin: 0px 20px;
}
.slider-main-projects .slider{
	margin: 20px 0px;
}
.slider-main-projects .service-img-box{
	position: relative;
}
.project-sub-name{
	font-size: 13px;
}
.details-project-name{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.project-slider-name{
	line-height: 1.0;
	font-size: 20px;
	margin-bottom: 7px !important;
}
.slider-main-projects .slick-prev {

}
.btn-round-nxt{
	background: #fff;
	border-radius: 50%;
	padding: 10px 17px !important;
	color: #000;
}
.btn-round-nxt i{
	font-size: 25px !important;
}
.slider-main-projects{
	position: relative !important;
}
.nxt-btns{
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translate(-50%, -50%);
}
.prev-btns{
	position: absolute;
	left: 80px;
	top: 50%;
	transform: translate(-50%, -50%);
}
.testimonial-main{
	border: 1px solid #fff;
	width: 100%;
	border-radius: 10px;
	margin: 60px 0px 20px 0px;
	display: flex;
}
.left-testimonial{
	width: 40%;
	padding: 20px;
}
.right-testimonial{
	width: 60%;
	background: #ffff;
	padding: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
}
.logo-testimonial{
	width: 70px;
	display: table;
	margin: auto;
	padding-top: 20px;
}
.testimonial-content{
	font-weight: 600;
	padding: 20px 0px 0px 0px;
}
.testi-name{
	font-weight: 600;
}
.testi-details{

}
.details-testi-content{
	padding-top: 30px;
}
.right-testimonial .ri-arrow-left-s-line{
	position: absolute;
	left: 30px;
	font-size: 30px;
	top: 50%;
	transform: translate(-50%, -50%);
}
.right-testimonial .ri-arrow-right-s-line{
	position: absolute;
	right: 0px;
	font-size: 30px;
	top: 50%;
	transform: translate(-50%, -50%);
}
.latest-sub-txt{
	padding-top: 20px;
}
.latest-blog-main-dv{
	margin: 60px 0px 30px 0px;
}
.blog-img{
	border-radius: 20px;
}
.heading-latest{
	margin-bottom: 30px;
}
.blog-txt-on-img{
	position: absolute;
	bottom: 15px;
	left: 10px;
}
.blog-main{
	position: relative;
}
.bg-overlay{
	position: absolute;
	bottom: 0px;
	background: #00000070;
	width: 100%;
	height: 100%;
	display: flex;
}
.flx-box{
	
}
.read-more-btn-blog{
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	padding: 6px 25px;
	border-top-right-radius: 10px;
}
.read-more-btn-blog i{
	margin-left: 5px;
	font-size: 20px;
}
.read-more-btn-blog:hover{
	text-decoration: none;
	color: #000;
}
/* about page  */
.about-us-main-head{
	margin: 40px 0px 20px 0px;
}
.about-us-sub-txt-page{
	padding-bottom: 20px;
}
.about-epower-txt{
	font-weight: 700;
	padding-bottom: 20px;
}
.about-two-sub-txt{
	width: 80%;
	margin: auto;
}
.about-single-dv{
	display: flex;
	align-items: center;
	border: 1px solid #AEFB2A;
	padding: 16px 20px;
	border-radius: 15px;
	margin: 0px 10px;
}
.three-dv{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.about-single-dv i{
	padding-right: 10px;
}
.about-services-main-dv{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-single-dv i{
	font-size: 22px;
}
.hire-main-dv{
	width: 100%;
	margin-top: 50px;
	display: flex;
	margin-bottom: 70px;
}
.img-hire-main{
	width: 100%;
}
.hire-half{
	width: 50%;
}
.our-portfolio-btn{
	display: flex;
	align-items: center;
	width: max-content;
	padding: 8px 20px !important;
	border-radius: 20px !important;
}
.our-portfolio-btn i{
	padding-left: 10px;
}
.hire-sub-txt{
	font-size: 14px;
	padding-bottom: 20px;
}
.hire-main-txt{
	padding-bottom: 10px;
	font-weight: 600;
	padding-top: 60px;
}
.rgt-hire{
	margin-left: -70px;
}
.our-portfolio-btn:hover{
	text-decoration: none !important;
	color: #000;
}
.sub-txt-mission-vission{
	font-size: 14px;
}
.txt-mission-vission{
	margin-bottom: 20px !important;
	border: 2px solid #fff;
	padding: 5px 20px;
	width: max-content;
}
.meet-the-team-main-div{
	margin-top: 50px;
}
.meet-team-main-txt{
	font-weight: 700;
}
.txt-team-txt{
	width: 70%;
	margin: auto;
	padding-top: 15px;
	font-size: 14px;
}
.profile-details{
	background: #fff;
	padding: 10px 10px;
	border-radius: 0px 0px 30px 30px;
}
.postion-team{
	color: #707070;
	font-size: 13px;
}
.name-team{
	font-weight: 600;
	padding-bottom: 5px;
}
.social-icons-dv i{
	color: #000;
	font-size: 23px;
	margin: 0px 10px;
}
.social-icons-dv{
	width: max-content;
	margin: auto;
	padding-top: 5px;
}
.meet-profile-dv{
	margin-bottom: 50px;
}
.profile-dv .image-team{
	border-radius: 30px 30px 0px 0px;
}
.meet-team-main-dv{
	margin-bottom: 50px;
}
.social-icons-dv a:hover{
	text-decoration: none !important;
}
/* portfolio page  */
.portfolio-grid-main{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0px;
}
.portfolio-grid-main .tile-project{
	width: 20%;
}
.case-study-txt{
	font-weight: 600;
}
.case-study-main{
	margin: 20px auto 60px auto;
}
.case-sub-txt{
	padding-top: 20px;
}
.study-img{
	border-radius: 20px;
}
.case-study-dv{
	margin-bottom: 40px;
}
.btn-read{
	padding: 9px 20px !important;
	border-radius: 20px !important;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
	width: max-content;
	font-weight: 600;
}
.studies-main-box{
	position: relative;
}
.btn-read:hover{
	color: #000;
}













@media (min-width:2000px) {
	.container-main{
		width: 65% !important;
		margin: auto;
	}
}
@media (min-width:1900px) {
	.container-main{
		width: 85%;
		margin: auto;
	}
}
@media (max-width:1300px) {
	.vedio-main-bg{
		padding: 250px 0px 350px 0px;
	}
}
@media (max-width:1200px) {

}
@media (max-width:991px) {
	header .nav-items .nav-item{
		display: none;
	}
	header .nav-items .contact-btn-nav{
		display: none;
	}
	.project-tile-main{
		margin-top: 60px;
		position: unset;
	}
	.client-main-bg {
    padding: 60px 0px;
	}
	.tile-project {
    width: 33.333%;
	}
	.client-main-txt {
		text-align: center;
	}
	.bond-txt{
		text-align: center;
	}
	.btn-portfolio{
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}
	.project-slider-name {
    font-size: 24px;
	}
	.project-sub-name {
    font-size: 15px;
	}
	.details-project-name{
		bottom: 25px;
		left: 25px;
	}
	.testimonial-main {
    display: block;
	}
	.right-testimonial {
    width: 100%;
	}
	.left-testimonial {
    width: 100%;
    padding: 50px 20px;
	}
	.testimonial-txt {
		text-align: center;
	}
	.testimonial-sub-txt {
		text-align: center;
	}
	.product-awards-counts-dv {
    margin: 30px 0px 40px 0px;
	}
	.blog-main {
    margin-bottom: 25px;
	}
	.three-dv {
    display: block;
	}
	.about-single-dv {
    display: flex;
    justify-content: center;
		margin-bottom: 20px;
	}
	.three-dv {
    margin-bottom: 0px;
	}
	.about-two-sub-txt {
    width: 100%;
	}
	.hire-main-dv {
    display: block;
	}
	.hire-half {
    width: 100%;
	}
	.rgt-hire {
    margin-left: 0px;
	}
	.hire-main-txt {
    font-size: 25px;
    padding-top: 30px;
	}
	.about-us-main-head {
    margin: 30px 0px 20px 0px;
	}
	.btm-mission{
		margin-bottom: 20px;
	}
	.txt-team-txt {
    width: 100%;
	}
}
@media (max-width:600px) {
	.tile-project {
    width: 50%;
		height: 200px;
	}
	.nxt-btns {
    right: 15px;
	}
	.prev-btns {
    left: 73px;
	}
	.counts-dv {
    display: block;
	}
	.count-number {
    text-align: center;
    font-size: 51px;
	}
	.count-sub-txt {
    font-size: 14px;
	}
	.product-sub-txt-explore {
    font-size: 14px;
	}
	.own-txt {
    font-size: 27px;
	}
	.logo-testimonial {
    width: 50px;
    padding-bottom: 5px;
	}
}
@media (max-width:450px) {
	.testimonial-txt {
    font-size: 25px;
	}
	.testimonial-sub-txt {
    font-size: 15px;
	}
	.latest-head-txt{
		font-size: 25px;
	}
	.latest-sub-txt {
    padding-top: 10px;
		font-size: 14px;
	}
	.copy-txtt, .copy-txtt a{
		font-size: 14px;
	}
	footer {
    background: #fff;
    padding: 35px 0px 15px 0px;
	}
	.box-form-footer {
    margin-top: 15px;
	}
	.about-two-sub-txt {
    font-size: 14px;
	}
	.about-us-sub-txt-page {
    font-size: 16px;
		padding-bottom: 15px;
	}
	.about-epower-txt {
    font-size: 22px;
	}
	.meet-team-main-txt {
    font-size: 26px;
	}
	.txt-mission-vission {
    font-size: 15px;
	}
}